absl-py
beautifulsoup4
certifi
cffi
charset-normalizer
chex
click
cloudpickle
colorama
contextlib2
cycler
cython
decorator
dm-control
dm-env
dm-tree
fasteners
filelock
flatbuffers
flax
fonttools
future
gast
gdown==4.4.0
glfw
gymnasium
imageio-ffmpeg
imageio
jax
jaxlib
matplotlib
mujoco
numpy
opt-einsum
optax
packaging
pillow
protobuf
pycparser
pyopengl
pyyaml
setuptools-scm
tensorboardx==2.5
tensorflow-probability
termcolor==1.1.0
tomli
toolz
tqdm
wandb
tensorboard